html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: LTEnergy;
}

main{
    position: relative;
}

body {
    background-color: var(--WarmBlack--);
}

:root{
    --RichBlackFOGRA--: #001021;
    --WarmBlack--: #034748;
    --Orange--: #1481BA;
    --CyanProcess--: #11B5E4;
    --CeruleanCrayola--: #0CAADC;
    --red--: #ff0000;
}

@font-face {
    font-family: LTEnergy;
    src: url('../font/LTEnergy.ttf');
}


.header{
    background-color: var(--RichBlackFOGRA--);
}

.HCFibre{
    display: flex;
    justify-content: center;
    font-size: 400%;
    color: var(--CyanProcess--);
}

.links{
    display: flex;
    flex-direction: row;
    font-size: 150%;
    justify-content: center;
    justify-content: space-around;
}

.linkHeader{
    text-decoration: none;
    color: var(--CyanProcess--);
    margin: 1%;
}

.linkHeader:hover{
    color: var(--WarmBlack--);
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
}

/* footer*/

.footer{
    position: relative;
    width: 100%; height: 50px;
    bottom: 0; left: 0; right: 0;
    margin: 0;
    background: var(--RichBlackFOGRA--);
    text-align: center;
    display: flex;
    flex-direction: row;
}

.footer1{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}

.footer2{
    width: 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer3{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}

.socialMedia{
    width: 25px;
    margin: 3px;
}

.socialMedia2{
    width: 40px;
}

/* FIN footer*/
