
html,body,main {

    width:100%;
    height:100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/* header */

.header {
    overflow: hidden;
    background-color: #c7c5c5;
    padding: 20px 10px;
}
  
.header .all {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
  
.header .title {
    font-size: 25px;
    font-weight: bold;
}
  
.header .a:hover {
    background-color: #ddd;
    color: black;
}
  
.header .a.active {
    background-color: rgb(145, 23, 145);
    color: white;
}
  
.header-right {
    float: right;
}


/* body */

.container{
    width: 100%;
}






/* footer*/

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background: grey;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.footer1{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}

.footer2{
    width: 33.333%;
    display: flex;
    align-items: center;
}

.footer3{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}

.socialMedia{
    width: 25px;
    margin: 3px;
}

.socialMedia2{
    width: 40px;
}