/* body */

main{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-color: var(--RichBlackFOGRA--);
    margin: 10%;
    padding: 40px 60px;
    width: 20%;
    border-radius: 20px;
}

form button{
    padding: 15px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #fff;
    background-color: var(--red--);
    outline:none;
    cursor:pointer;
}

table{
    border-collapse: collapse;
}

th, td{
    border : 3px solid black;
    color: var(--CyanProcess--);
}

.text1{
    margin-bottom: 2%;
    color:var(--WarmBlack--);
}

.heureux{
    color: var(--CyanProcess--);
    text-align: center;
    font-size: 125%;
    margin-bottom: 10%;
}

.change{
    text-decoration: none;
    color: var(--RichBlackFOGRA--);
    background-color: var(--Orange--);
    padding: 5%;
    text-align: center;
    border-radius: 5px;
}

.affiche{
    color: var(--CyanProcess--);
}

.identifiants{
    color : var(--Orange--);
    font-size: 125%;
    text-align: center;
}
/* FIN body */
